/*forms*/
.form-section {
  	padding-left: 15px;
  	border-left: 2px solid #FF851B;
  	display: none;
}
.form-section.current {
  	display: inherit;
}
.input-padding{
    padding-left: 5%;
    padding-right: 5%;
}
.input-padding-right{
	padding-right: 10%;
}
.input-padding-left{
	padding-left: 10%;
}

.daterangepicker.dropdown-menu {
    z-index: 99999 !important;
}
.form-control-input{
    width: auto !important;
    height: calc(2rem + 0px) !important;
    padding: 0.3rem 0.3rem !important;
}
.form-control-digit{
    width: 50px !important;
    height: calc(2rem + 0px) !important;
    padding: 0.3rem 0.3rem !important;
}